@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

header {
    background-size: cover;
    background-position: center;
    color: $color-text;
    text-align: center;
    padding: 20px 0;
}

#home {
    background-image: url("../images/portada.png");
}

.header-content {
    @include flex-center;
    padding: 20px 0;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: $radius-full;
    border: 4px solid $color-text;
}